modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"
packages = ["unzipNLS"]

[deployment]
run = ["sh", "-c", "node Priyansh.js"]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 42503674
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
